.home-blog .hero h1,.home-blog .hero .description{
    color: #ffffff
}

.home-blog .hero {
    background-attachment: fixed !important;
    height: calc(100vh - 56px) !important;
}

canvas {
    z-index: -1;
}